/* src/styles/Cart.css */

/* Dropdown container styling */
.cart-dropdown {
    position: absolute;
    top: 100%; /* Sets it directly below the navbar */
    right: 1.5rem; /* aligns with navbar padding */
    background: #181818;
    width: 300px;
    border: 1px solid #c5c5c5;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 16px;
    z-index: 200; /* Makes sure it appears above other content */
    max-height: 400px;
    overflow-y: auto;
  }
  
  /* Cart component styling */
  .cart h2 {
    margin-top: 0;
    font-size: 1.2rem;
    border-bottom: 1px solid #c5c5c5;
    padding-bottom: 8px;
  }
  
  .cart ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .cart li {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    margin: 0;
    padding: 0;
  }
  
  .cart li img.cart-image {
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-right: 8px;
    border: 1px solid #cccccc;
    border-radius: 4px;
  }
  
  .cart li .cart-details {
    flex-grow: 1;
  }
  
  .cart li button {
    background: #181818;
    color: #c5c5c5;
    border: none;
    padding: 4px 8px;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .cart li button:hover {
    background: #2b2b2b;
  }

.cart-toggle-button {
  background: transparent;       
  border: none;                  
  color: #c5c5c5;              
  font-size: 1rem;               
  padding: 0rem 1rem;          
  cursor: pointer;               
  transition: color 0.2s ease, background 0.2s ease;
}

  